{% extends "base.html" %}

{% block content %}

<div class="container py-4">

    <div class="card shadow">

        <div class="card-header">
            <h3>
                Add Vehicle Listing
            </h3>
        </div>


        <div class="card-body">

            <form 
            method="POST"
            action="{{ url_for('cars.add_car') }}"
            enctype="multipart/form-data">


                <!-- VEHICLE INFORMATION -->


                <div class="mb-3">

                    <label class="form-label">
                        Registration Number (Number Plate)
                    </label>

                    <input
                    type="text"
                    name="registration_number"
                    class="form-control"
                    placeholder="Example: KDA 123A"
                    style="text-transform:uppercase;"
                    required>

                </div>



                <div class="row">


                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Brand
                        </label>

                        <input
                        type="text"
                        name="brand"
                        class="form-control"
                        required>

                    </div>



                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Model
                        </label>

                        <input
                        type="text"
                        name="model"
                        class="form-control"
                        required>

                    </div>


                </div>



                <div class="row">


                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            Year
                        </label>

                        <input
                        type="number"
                        name="year"
                        class="form-control"
                        required>

                    </div>



                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            Price (KSh)
                        </label>

                        <input
                        type="number"
                        name="price"
                        class="form-control"
                        required>

                    </div>



                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            Mileage (KM)
                        </label>

                        <input
                        type="number"
                        name="mileage"
                        class="form-control"
                        required>

                    </div>


                </div>



                <div class="row">


                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Fuel Type
                        </label>


                        <select
                        name="fuel"
                        class="form-control"
                        required>


                            <option value="">
                                Select Fuel
                            </option>

                            <option>
                                Petrol
                            </option>

                            <option>
                                Diesel
                            </option>

                            <option>
                                Hybrid
                            </option>

                            <option>
                                Electric
                            </option>


                        </select>


                    </div>




                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Transmission
                        </label>


                        <select
                        name="transmission"
                        class="form-control"
                        required>


                            <option value="">
                                Select Transmission
                            </option>


                            <option>
                                Automatic
                            </option>


                            <option>
                                Manual
                            </option>


                        </select>


                    </div>


                </div>
                
                <div class="row">


                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            Engine
                        </label>


                        <input
                        type="text"
                        name="engine"
                        class="form-control">


                    </div>




                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            Color
                        </label>


                        <input
                        type="text"
                        name="color"
                        class="form-control">


                    </div>




                    <div class="col-md-4 mb-3">

                        <label class="form-label">
                            Condition
                        </label>


                        <select
                        name="condition"
                        class="form-control">


                            <option>
                                New
                            </option>


                            <option>
                                Used
                            </option>


                        </select>


                    </div>


                </div>




                <div class="mb-3">

                    <label class="form-label">
                        Location
                    </label>


                    <input
                    type="text"
                    name="location"
                    class="form-control"
                    required>


                </div>





                <div class="mb-3">

                    <label class="form-label">
                        Description
                    </label>


                    <textarea
                    name="description"
                    rows="5"
                    class="form-control"
                    placeholder="Describe the vehicle..."></textarea>


                </div>





                <!-- ========================= -->
                <!-- VEHICLE IMAGES -->
                <!-- ========================= -->


                <hr>


                <h5>
                    Upload Vehicle Images
                </h5>


                <p class="text-muted">

                    Upload at least 5 vehicle photos.
                    You can upload more images.

                </p>



                <div class="mb-3">


                    <label class="form-label">

                        Vehicle Photos

                    </label>



                    <input
                    type="file"
                    name="images"
                    class="form-control"
                    multiple
                    accept="image/*"
                    required>


                </div>





                <button
                type="submit"
                class="btn btn-primary w-100">


                    Upload Vehicle


                </button>




            </form>


        </div>


    </div>


</div>



{% endblock %}