<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Customer Requests | Carvion Motors</title>


<style>


body{

font-family:Arial;
background:#f4f6f9;

}


.container{

width:90%;
max-width:1100px;
margin:30px auto;

}


.card{

background:white;
padding:20px;
margin-bottom:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,.1);

}


h1{

color:#111827;

}


.car{

color:#2563eb;
font-weight:bold;

}


.phone{

color:#059669;
font-weight:bold;

}


</style>


</head>


<body>


<div class="container">


<h1>
Customer Requests
</h1>



{% for request in requests %}



<div class="card">


<h2>

{{request.name}}

</h2>



<p class="car">

Car:
{{request.car.brand}}
{{request.car.model}}

</p>



<p>

Phone:

<span class="phone">

{{request.phone}}

</span>

</p>



<p>

Email:

{{request.email}}

</p>



<p>

Message:

<br>

{{request.message}}

</p>



<p>

Received:

{{request.created_at}}

</p>



</div>



{% else %}


<h3>
No customer requests yet.
</h3>


{% endfor %}



</div>


</body>


</html>